.panel {
  // Must remove panel from local positioning (to avoid affecting other mod buttons)
  position: absolute;
  top: 10rem;
  left: 50%;
  // NOTE: Using 'transform' requires an additional parent wrapper when using with 'Draggable',
  //         as otherwise any transform will be overwritten!
  transform: translateX(-50%);

  // TODO: Consider supporting opacity as a persisted mod setting?
  // opacity: 0.95;
  transition: opacity ease-in-out 0.075s;

  &:hover,&:focus-within {
    opacity: 1;
  }
}

.panelVisible {
  opacity: 1;
}

.panelStatsRow {
  display: flex;
  flex-direction: row;
}

.dragButton {
  position: absolute;
  left: 50%;
  top: -10rem;
  transform: translateX(-50%);
  padding: 5rem;
}

.dragButtonIcon {
  width: 20rem;
  height: 20rem;
}

// Education icons have a letter displayed inside to indicate which type
.statIconEducationText {
  position: absolute;
  color: var(--tooltipColor);
  font-size: 12rem;
}
