.handle {
  position: absolute;
  overflow: hidden;
  // Raise handle above stat icons (for click events)
  z-index: 1;
}

.handleHorizontal {
  left: 50%;
  transform: translateX(-50%);
  // NOTE: 'top'/'bottom' are applied via dynamic styles (since there may be two horizontal icons)
}

.handleVertical {
  top: 50%;
  // Rotate handle to avoid having to specify individual handle icon margin "cropping" per orientation
  transform: translateY(-50%) rotate(90deg);
  // NOTE: 'left'/'right' are applied via dynamic styles (since there are two vertical icons)
}

.handleIcon {
  width: 20rem;
  height: 20rem;
  margin-top: -5rem;
  margin-bottom: -5rem;
}
